   * {
       box-sizing: border-box;
   }
   
   body {
       margin: 0px;
       display: grid;
       grid-template-rows: 100px 1fr 60px;
       grid-template-columns: 1fr;
       grid-template-areas: "cabecalho" "principal" "rodape";
   }
   
   .cabecalho {
       grid-area: cabecalho;
   }
   
   .principal {
       grid-area: principal;
       min-height: calc(100vh - 160px);
   }
   
   .rodape {
       grid-area: rodape;
   }
   
   .home {
       min-height: calc(100vh - 160px);
       display: flex;
       flex-direction: row;
       justify-content: center;
       align-items: center;
   }
   
   .home img {
       width: 110px;
       height: 110px;
   }
   
   .modulo {
       height: 200px;
       width: 200px;
       display: flex;
       flex-direction: row;
       justify-content: center;
       align-items: center;
       background-color: rgb(141, 226, 119);
       margin: 10px;
       box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.65);
   }
   
   .modulo:hover {
       background-color: rgba(250, 250, 250, 0.65);
       box-shadow: 0px 0px 15px 0px rgb(141, 226, 119);
   }
   
   .error {
       color: rgb(228, 85, 85);
   }
   
   #basket {
       width: 50px;
       height: 50px;
       color: black;
   }
   
   #titulo {
       font-weight: 700;
       font-size: 2.3rem;
       margin-left: 15px;
   }
   
   #logoa {
       display: flex;
       flex-direction: row;
       justify-content: center;
       align-items: center;
   }
   
   #escolherBola {
       margin-top: 20px;
       font-weight: 500;
       font-size: 1.5rem;
   }
   
   #listar-dados {
       margin-top: 50px;
   }
   
   input::-webkit-outer-spin-button,
   input::-webkit-inner-spin-button {
       -webkit-appearance: none;
       margin: 0;
   }
   
   #myModal {
       top: 20%;
       text-align: center;
       outline: none;
   }
   
   #modalcorpo {
       padding-top: 5px;
       background-color: rgba(141, 226, 119, .5);
   }
   
   #consulta {
       background-color: white;
   }